@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #020617;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e9d5ff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9333ea;
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b0764;
    
  }
